body {
  background-image: url("images/game.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
}

#container {
  display: flex;
  height: 90vh;
  background-color: rgb(255, 255, 255, 0.5);
  width: 60%;
  margin: auto;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
}
#player-score {
  color: yellow;
  line-height: 150px;
  font-size: 10.4em;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
  margin-top: 0;
}
#computer-score {
  color: yellow;
  line-height: 150px;
  font-size: 10.4em;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
  margin-top: 0;
}
p {
  color: black;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
  line-height: 150px;
  font-size: 5em;
  font-family: "Piedra", cursive;
}
#userResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#computerResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#representatives {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.options {
  height: 230px;
  width: 230px;
}
.options:hover {
  border-radius: 50%;
}

.options:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px rgb(5, 5, 5);
  transform: translateY(4px);
  transition: margin-right 2s;
}
